<div class="columns">
  <div class="column">
    <p class="title is-1">Posts</p>

    <% @posts.each do |post| %>
      <div class="content">
        <p class="title is-2"><%= link_to post.title, post %></p>
        <% if user_signed_in? %>
          <p class="subtitle is-5"><%= post.user.name %></p>
        <% end %>
      </div>
    <% end %>

    <br>
  </div>
</div>
